@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.stApp {
    background: url(https://images.unsplash.com/photo-1535242208474-9a2793260ca8?q=80&w=1064&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat;
    background-size: cover;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
}
div[pageState="setting"] input  {
    border-radius: 8px;
    box-shadow: inset #00000059 0 0 5px 1px;
    padding: 3px 4px;
    border-color: #d6d6d6;
    font-size: 12px;
    position: absolute;
    right: 0;
    width: 490px;
}
label {
    right: 0;
}
div[pageState="setting"] label {
    padding-right:20px;
}
div[pageState="graphic-sensors"] .hd {
    display: none;
}
#container-control button {
    border: inset;
    width: 50px;
    height: 50px;
    background: #d6d6d6;
    padding: 20px;
    position: relative;
    border-radius: 19px;
    display: block;
}
#container-control button img {
    height: auto;
    width: 35px;
    position: absolute;
    top: 10px;
    left: 5px;
}

.centers {
    margin: auto;
    padding: 70px 0;
    width: 50%;
    display: block;
}
.ection {
    border-radius: 7px;
}
.inserted-OE {
    margin-top: 24px;
    margin-left: 24px;
}
.inserted-OE canvas {
    border-radius: 8px;
}
.ToggleGr {
    padding:5px;
    font-size: 10px;
    background: #dedede;
    border: 3px #fdfdfd inset;
    border-radius: 12px;
}
.sep {
    position: relative;
}
#CONT .sep:not(:last-child) {
    margin-bottom: 30px;
}
#container-control button:not(:last-child) {
    margin-bottom: 10px;
}
#LogoBut {
    width: 20rem;
    height: auto;
    background: white;
    border-radius:50%;
}
#LineGraph-res {
    box-shadow: inset grey 0 0 13px 2px;
}
#data-logs {
    padding: 8px 13px;
    box-shadow: inset #1a1a1a7a 0 0 11px 5px;
}
#Sensors-det {
    box-shadow: inset #5252528c 0 0 19px 4px;
    padding: 16px 20px;
    font-weight: bold;
}
#display-cam {
    box-shadow: #000000ba 0 0 8px 10px;
}
#popup-f {
    position: absolute;
    top: -19px;
    left: -40px;
    background: #f5ffd9;
    border-radius: 7px;
}

/*for the switch*/
.switch {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
    right: 430px;
    top:0;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }